<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="apple-touch-icon" href="images/logo_48x48.png">

    <script src="vendor/angular.js"></script>
    <script src="bundle.js"></script>

    <script src='vendor/firebase.js'></script>
    <script src="vendor/angularfire.min.js"></script>
    <script src="vendor/moment.min.js"></script>

    <link rel="stylesheet" href="css/todo.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"><link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>

<div class="container">
    <div ng-controller="TodoCtrl as vm">
        <div class="panel panel-info" create-todo-form></div>
        <div class="panel panel-success" task-category-list task-type="today" update-todo="vm.updateTodo"></div>
        <div class="panel panel-warning" task-category-list task-type="overdue"  update-todo="vm.updateTodo"></div>
        <div class="panel panel-info" task-category-list task-type="anytime" update-todo="vm.updateTodo"></div>

        <div class="panel panel-info">
            <div class="panel-heading">
                future <span class="badge">{{vm.futureTodos.length}}</span> <button id="btn-refresh-future" ng-click="todoList.archive(todoList.todos)" type="button" class="btn btn-primary btn-xs">refresh</button>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="todo in vm.futureTodos">
                    <div class="task-checkbox">
                        <input ng-click="vm.updateTodo(todo.key, todo.done)" type="checkbox" ng-model="todo.done">
                    </div>
                    <span class="done-{{todo.done}}">{{todo.date}}: {{todo.text}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="vendor/jquery-1.11.3.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>

<script type="text/javascript">
$( document ).ready(function() {
   $( "#inputTodoText" ).focus();
});
</script>
</body>
</html>
